.title{
    color: #8b0303;
    width: 100%;
    text-align: center;
    font-size: 48px;letter-spacing: 8px;
    margin-top: 20px;
    border-bottom: 2px solid #490000;
    text-shadow: 0px 3px 10px #6e0505a4;
}

.wrapAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapAll p{
  color: #740c0c;
  padding: 15px 125px;
  border-radius: 999px;
  font-size: 22px;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapResps{
  background-color: #5e0000;
  color: #ffffff;
  padding: 10px;
  border-radius: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10xp;
  box-shadow: rgba(5, 5, 48, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrapResps h2{
   font-size: 18xp;
   color: #cf0000;
}

.wrapResps h3{
  font-size: 18xp;
  color: rgb(197, 13, 13);
}